*{
    font-family: monospace;
}
.container{
    background-color: aquamarine;
    height: 80vh;
    width: 60%;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span{
    font-size: 100px;
}

button{
    border-radius: 5px;
    
}

